<template>
  <div>
    <b-alert variant="success"
             dismissible
             :show="successAlertVisible"
             fade
             @dismissed="successAlertVisible=false">
      Заказ успешно завершён!
    </b-alert>

    <b-alert variant="danger"
             dismissible
             :show="errorAlertVisible"
             fade
             @dismissed="errorAlertVisible=false">
      На сервере произошла ошибка!
    </b-alert>

    <b-table :items="orderList" :fields="fields" >

      <template slot="actions" slot-scope="row">

        <b-button size="sm" @click.stop="row.toggleDetails" variant="primary">
          Детали заказа
        </b-button>

        <b-button size="sm" @click.stop="complete(row.item)" variant="primary">
          Завершить
        </b-button>

      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="cartItem in row.item.cartItemList">
              {{cartItem.dish.name}} x{{cartItem.count}} = {{cartItem.count * cartItem.dish.price}} руб.
            </li>
          </ul>
          Сумма заказа: {{amount(row.item.cartItemList)}} руб.
        </b-card>
      </template>

    </b-table>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "OrderList",
    data() {
      return {
        fields: [
          {key: 'id', label: 'ID'},
          {key: 'createdAt', label: 'Время'},
          {key: 'address.text', label: 'Адрес'},
          {key: 'comment', label: 'Комментарий'},
          {key: 'actions', label: 'Действия'}
        ],
        errorAlertVisible: false,
        successAlertVisible: false
      }
    },
    computed: mapGetters([
      'orderList'
    ]),
    created() {
      this.$store.dispatch("getOrderList");
    },
    methods: {
      complete(order) {
        this.$store.dispatch("completeOrder", order).then(response => {
          if (response.data.success) {
            this.successAlertVisible = true;
            this.$store.commit("deleteOrder", order.id);
          }
          else {
            this.errorAlertVisible = true;
          }
        });
      },
      amount(itemList) {
        let amount = 0;
        itemList.forEach(item => {
          amount += item.count * item.dish.price;
        });
        return amount;
      }
    }
  }
</script>

<style scoped>

</style>
