<template>
  <b-container>
    <b-row>
      <b-col cols="3">
        <CategoryList></CategoryList>
      </b-col>
      <b-col cols="9">
        <DishList></DishList>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import CategoryList from "./category/CategoryList";
  import DishList from "./dish/DishList";

  export default {
    name: 'Menu',
    components: {CategoryList, DishList}
  }
</script>
