<template>
  <b-modal id="addStockModal" ref="addStockModal" title="Добавление акции" hide-footer>
    <b-form @submit="onSubmit">

      <b-form-group label="Описание:">
        <b-form-textarea v-model="stock.description"
                         :rows="3"
                         :max-rows="9"
                         required></b-form-textarea>
      </b-form-group>

      <b-form-group label="Дата окончания:">
        <date-picker v-model="expiredAtModel" :config="config"></date-picker>
      </b-form-group>

      <b-form-group label="Изображение:">
        <ImageAdd ref="cropper" :ext="'jpeg'"></ImageAdd>
      </b-form-group>

      <b-button variant="primary" type="submit" :block="true">Сохранить</b-button>

    </b-form>
  </b-modal>
</template>

<script>
  import ImageAdd from '../common/ImageAdd'
  import datePicker from 'vue-bootstrap-datetimepicker';
  import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';

  export default {
    components: {ImageAdd, datePicker},
    name: "StockAdd",
    data() {
      return {
        stock: {
          description: null,
          expiredAt: null,
          photo: null
        },
        config: {
          format: 'DD.MM.YYYY',
          useCurrent: true,
          locale: 'ru'
        },
        expiredAtModel: null
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        this.crop();
      },
      crop() {
        this.$refs.cropper.crop((cropped) => {
          this.stock.photo = cropped;
          this.parseDate();
          this.postCategory();
        });
      },
      parseDate() {
        this.stock.expiredAt = moment(this.expiredAtModel, 'DD.MM.YYYY').unix();
      },
      postCategory() {
        this.$store.dispatch('addStock', this.stock).then(() => {
          this.$refs.addStockModal.hide();
          this.reset();
        });
      },
      reset() {
        this.stock.description = null;
        this.stock.expiredAt = null;
        this.stock.photo = null;
        this.$refs.cropper.reset();
      }
    }
  }
</script>

<style scoped>

</style>
