<template>
  <div>
    <h4>Акции</h4>

    <b-button variant="primary" :block="false" v-b-modal.addStockModal id="addButton">Добавить</b-button>

    <b-card-group columns>

      <b-card
        v-for="stock in stockList"
        :key="stock.id"
        :img-src="stock.photoUrl"
        img-top>
        <h5>{{stock.expiredAt}}</h5>
        <p class="card-text">
          {{stock.description}}
        </p>
      </b-card>

    </b-card-group>

    <StockAdd></StockAdd>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import StockAdd from "./StockAdd";

  export default {
    components: {StockAdd},
    name: "StockList",
    computed: {
      ...mapGetters({
        stockList: "stockList"
      })
    },
    created() {
      this.$store.dispatch('getStockList');
    }
  }
</script>

<style scoped>
  .card-columns {
    margin-top: 16px;
  }
</style>
