<template>
  <div>

    <h4 class="title">Блюда</h4>

    <b-card-group columns>

      <b-card
        v-for="dish in dishList"
        :key="dish.id"
        :title="dish.name"
        :sub-title="dish.price+'р'"
        :img-src="dish.photoUrl"
        img-top>
        <p class="card-text">
          {{dish.description}}
        </p>
      </b-card>

    </b-card-group>

    <b-button variant="primary" :block="false" v-b-modal.addDishModal id="addButton">Добавить</b-button>

    <DishAdd></DishAdd>

  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import DishAdd from "./DishAdd";

  export default {
    components: {DishAdd},
    name: "DishList",
    computed: mapGetters({
      dishList: "dishList"
    })
  }
</script>

<style scoped>

</style>
