<template>
  <b-modal id="addDishModal" ref="addDishModal" title="Добавление блюда" hide-footer>
    <b-form @submit="onSubmit">

      <b-form-group label="Название:">
        <b-form-input type="text" v-model="dish.name" required></b-form-input>
      </b-form-group>

      <b-form-group label="Описание:">
        <b-form-textarea v-model="dish.description"
                         :rows="2"
                         :max-rows="4"
                         required></b-form-textarea>
      </b-form-group>

      <b-form-group label="Цена:">
        <b-form-input type="number" v-model="dish.price" required></b-form-input>
      </b-form-group>

      <b-form-group label="Изображение:">
        <ImageAdd ref="cropper" :ext="'jpeg'"></ImageAdd>
      </b-form-group>

      <b-button variant="primary" type="submit" :block="true">Сохранить</b-button>

    </b-form>
  </b-modal>
</template>

<script>
  import ImageAdd from '../../common/ImageAdd'

  export default {
    components: {ImageAdd},
    name: "DishAdd",
    data() {
      return {
        dish: {
          name: null,
          description: null,
          price: null,
          photo: null
        }
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        this.crop();
      },
      crop() {
        this.$refs.cropper.crop((cropped) => {
          this.dish.photo = cropped;
          this.postCategory();
        });
      },
      postCategory() {
        this.$store.dispatch('addDish', this.dish).then(() => {
          this.$refs.addDishModal.hide();
          this.reset();
        });
      },
      reset() {
        this.category.name = null;
        this.category.description = null;
        this.category.price = null;
        this.category.photo = null;
        this.$refs.cropper.reset();
      }
    }
  }
</script>

<style scoped>

</style>
