<template>
  <b-modal id="addShopModal" ref="addShopModal" title="Добавление магазина" hide-footer>
    <b-form @submit="onSubmit">

      <b-form-group label="Название:">
        <b-form-input class="input" type="text" v-model="shop.name" required></b-form-input>
      </b-form-group>

      <b-form-group label="Логотип:">
        <ImageAdd ref="cropper" class="input" :ext="'png'"></ImageAdd>
      </b-form-group>

      <b-button variant="primary" type="submit" :block="true">Сохранить</b-button>

    </b-form>
  </b-modal>
</template>

<script>
  import ImageAdd from "../../common/ImageAdd";

  export default {
    components: {ImageAdd},
    name: "ShopAdd",
    data() {
      return {
        shop: {
          name: null,
          logo: null
        }
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        this.crop();
      },
      crop() {
        this.$refs.cropper.crop((cropped) => {
          this.shop.logo = cropped;
          this.postShop();
        });
      },
      postShop() {
        this.$store.dispatch('addShop', this.shop).then(() => {
          this.$refs.addShopModal.hide();
          this.reset();
        });
      },
      reset() {
        this.shop.name = null;
        this.shop.logo = null
      }
    }
  }
</script>

<style scoped>
 /* #root {
    width: 50%;
    margin: 50px auto;
  }

  .input {
    width: 75%;
  }*/
</style>
