<template>
  <b-modal id="addCategoryModal" ref="addCategoryModal" title="Добавление категории" hide-footer>
    <b-form @submit="onSubmit">

      <b-form-group label="Название:">
        <b-form-input class="input" type="text" v-model="category.name" required></b-form-input>
      </b-form-group>

      <b-form-group label="Изображение:">
        <ImageAdd ref="cropper" class="input" :ext="'jpeg'"></ImageAdd>
      </b-form-group>

      <b-button variant="primary" type="submit" :block="true">Сохранить</b-button>

    </b-form>
  </b-modal>
</template>

<script>
  import ImageAdd from "../../common/ImageAdd";

  export default {
    components: {ImageAdd},
    name: "CategoryAdd",
    data() {
      return {
        category: {
          name: null,
          photo: null
        }
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        this.crop();
      },
      crop() {
        this.$refs.cropper.crop((cropped) => {
          this.category.photo = cropped;
          this.postCategory();
        });
      },
      postCategory() {
        this.$store.dispatch('addCategory', this.category).then(() => {
          this.$refs.addCategoryModal.hide();
          this.reset();
        });
      },
      reset() {
        this.category.name = null;
        this.category.photo = null;
        this.$refs.cropper.reset();
      }
    }
  }
</script>

<style scoped>

</style>
