<template>
  <div>
    <h4 class="title">Категории</h4>

    <b-list-group>
        <b-list-group-item
          v-for="category of categoryList"
          v-bind:class="{ active: category.id === currentCategory.id}"
          :key="category.id"
          href="#"
          @click="setCurrentCategory(category)">{{category.name}}
        </b-list-group-item>
    </b-list-group>

    <b-button variant="primary" :block="true" v-b-modal.addCategoryModal id="addButton">Добавить</b-button>

    <CategoryAdd></CategoryAdd>

  </div>
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex';
  import CategoryAdd from "./CategoryAdd";

  export default {
    components: {CategoryAdd},
    name: "CategoryList",
    computed: mapGetters({
      categoryList: "categoryList",
      currentCategory: "currentCategory"
    }),
    methods: mapMutations([
      'setCurrentCategory'
    ])
  }
</script>

<style scoped>
  #addButton {
    margin-top: 16px;
  }
</style>
