<template>
  <div id="app">

    <b-navbar variant="primary" type="dark" toggleable>

      <b-navbar-brand to="/">
        <b-img :src="require('../assets/logo.png')" height="33%"></b-img>
        Базилик
      </b-navbar-brand>

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav v-if="isAuth">

          <b-nav-item to="/menu">
            Меню
          </b-nav-item>

          <b-nav-item to="/stocks">
            Акции
          </b-nav-item>

          <b-nav-item to="/orders">
            Заказы
          </b-nav-item>

          <b-nav-item to="/comments">
            Отзывы
          </b-nav-item>

        </b-navbar-nav>

        <!-- Right aligned nav items-->
        <b-navbar-nav class="ml-auto" v-if="isAuth">

          <b-nav-item-dropdown :text="currentShopName" right>

            <b-dropdown-item
              v-for="shop of shopList"
              v-bind:class="{ active: shop.id === currentShop.id}"
              :key="shop.id"
              href="#"
              @click="setCurrentShop(shop)">
              <b-img :src="shop.logoUrl" rounded="circle" height="25px" class="shopLogo"></b-img>
              {{shop.name}}
            </b-dropdown-item>

            <b-dropdown-divider></b-dropdown-divider>

            <b-dropdown-item v-b-modal.addShopModal>
              Добавить магазин
            </b-dropdown-item>

          </b-nav-item-dropdown>

          <b-nav-item-dropdown :text="user.fullName" right>

            <b-dropdown-item to="/profile">
              Профиль
            </b-dropdown-item>

            <b-dropdown-item to="/logout">
              Выйти
            </b-dropdown-item>

          </b-nav-item-dropdown>

          <b-img :src="user.avatarUrl" rounded="circle" center height="40px"></b-img>

        </b-navbar-nav>

        <b-navbar-nav class="ml-auto" v-else>

          <b-nav-item to="/login">
            Войти
          </b-nav-item>

        </b-navbar-nav>

      </b-collapse>

    </b-navbar>

    <div id="content-block">
      <router-view/>
    </div>

    <ShopAdd></ShopAdd>

  </div>

</template>

<script>
  import {mapGetters, mapMutations} from 'vuex';
  import ShopAdd from "./menu/shop/ShopAdd";

  export default {
    name: 'App',
    components: {ShopAdd},
    computed: mapGetters({
      user: 'user',
      isAuth: 'isAuth',
      currentShop: 'currentShop',
      currentShopName: 'currentShopName',
      shopList: 'shopList',
    }),
    methods: mapMutations([
      'setCurrentShop'
    ])
  }
</script>

<style>
 /* #app {
    !*font-family: 'Avenir', Helvetica, Arial, sans-serif;*!
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
*/
  a {
    outline: none;
    color: inherit;
    text-decoration: inherit;
  }

  a:hover {
    outline: none;
    color: inherit;
    text-decoration: inherit;
  }

  .navbar {
    padding: 5px 15%;
  }

  #content-block {
    padding: 20px 15%;
  }

  .shopLogo {
    margin-right: 16px;
  }

  .title {
    margin-bottom: 25px;
  }

</style>
