<template>
  <div>

    <b-alert variant="success"
             dismissible
             :show="successAlertVisible"
             fade
             @dismissed="successAlertVisible=false">
      Комментарий успешно удалён!
    </b-alert>

    <b-alert variant="danger"
             dismissible
             :show="errorAlertVisible"
             fade
             @dismissed="errorAlertVisible=false">
      На сервере произошла ошибка!
    </b-alert>

    <b-table :items="commentList" :fields="fields">
      <template slot="actions" slot-scope="row">

        <b-button size="sm" @click.stop="deleteComment(row.item)" variant="primary">
          Удалить
        </b-button>

      </template>

    </b-table>

  </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "CommentList",
    data() {
      return {
        fields: [
          {key: 'createdAt', label: 'Дата и время'},
          {key: 'user.fullName', label: 'Пользователь'},
          {key: 'dish.name', label: 'Блюдо'},
          {key: 'text', label: 'Комментарий'},
          {key: 'actions', label: 'Действия'}
        ],
        errorAlertVisible: false,
        successAlertVisible: false
      }
    },
    computed: mapGetters([
      'commentList'
    ]),
    created() {
      this.$store.dispatch("getCommentList");
    },
    methods: {
      deleteComment(comment) {
        this.$store.dispatch("deleteComment", comment.id).then(response => {
          if (response.data.success) {
            this.successAlertVisible = true;
            this.$store.commit("deleteComment", comment.id);
          }
          else {
            this.errorAlertVisible = true;
          }
        });
      }
    }
  }
</script>

<style scoped>

</style>
