<template>
  <div>

    <div id="logoCropper" v-if="isImageUploaded">
      <vueCropper
        ref="cropper"
        :img="raw"
        :outputSize="1"
        :outputType="ext"
        :info="true"
        :canScale="true"
        :autoCrop="true"
        :autoCropWidth="300"
        :autoCropHeight="300"
        :fixed="true"
        :fixedNumber="[1,1]"
        :full="false"
        :fixedBox="false"
        :canMove="true"
        :canMoveBox="true"
        :original="false"
      >
      </vueCropper>
    </div>

    <b-form-file
      v-else
      placeholder="Выберите файл"
      accept="image/*"
      required
      @change="onUploaded($event.target.files[0])"
    >
    </b-form-file>

    <b-button id="resetButton"
              variant="primary"
              :block="true"
              @click="reset()"
              v-if="isImageUploaded">
      Сброс
    </b-button>

  </div>
</template>

<script>
  import VueCropper from 'vue-cropper';

  export default {
    components: {VueCropper},
    name: "ImageAdd",
    data() {
      return {
        isImageUploaded: false,
        raw: null
      }
    },
    props: {
      ext: {
        type: String,
        default: 'png'
      }
    },
    methods: {
      onUploaded(file) {
        let reader = new FileReader();
        reader.onload = (e) => this.setImage(e.target.result);
        reader.readAsDataURL(file);
      },
      setImage(image) {
        this.raw = image;
        this.isImageUploaded = true;
      },
      crop(cropped) {
        this.$refs.cropper.getCropBlob((blob) => cropped(blob));
      },
      reset() {
        this.isImageUploaded = false;
      }
    }
  }
</script>

<style scoped>
  #logoCropper {
    height: 200px;
  }
  #resetButton {
    margin-top: 8px;
  }
</style>
