<template>
  <div id="firebaseui-auth-container"></div>
</template>

<script>
  import * as firebaseui from 'firebaseui'
  import firebase from 'firebase';

  export default {
    name: "Auth",
    mounted() {
      const uiConfig = {
        signInSuccessUrl: '/',
        signInOptions: [{
          provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
          defaultCountry: 'RU'
        }]
      };

      let ui = firebaseui.auth.AuthUI.getInstance();
      if (!ui) {
        ui = new firebaseui.auth.AuthUI(firebase.auth());
      }
      ui.start('#firebaseui-auth-container', uiConfig);
    }
  }
</script>

<style scoped>

</style>
